<div class="card-assurance" style="display:none;" >You won't be charged until the day of the cleaning, and you'll get a receipt immediately by email.
    </div>

    <img class="card-icon" style="margin-top:25px; margin-left:10px;" src="assets/discover_64.png">
    <img class="card-icon" style="margin-top:25px; margin-left:0px;" src="assets/american_express_64.png">
    <img class="card-icon" style="margin-top:25px; margin-left:0px;" src="assets/mastercard_gold_64.png">
    <img class="card-icon" style="margin-top:25px; margin-left:0px;" src="assets/visa_64.png">
    <img class="card-icon" style="margin-top:15px; margin-left:10px;" src="assets/stripe.png">