<div id="finalize-booking" style="display:none;">

  <div class="header">
      <h1>Review order</h1>
  </div>
  <div class="confirmations-details">
    <div class="confirmation">
        <h3 id="confirmation-time"></h3>
      <div class="time-container">
        <h4 id="confirmation-hours"></h4>
        <h4 id="booking-price" class="details"></h4>
        <h4 id="confirmation-supplies">Supplies cost:</h4>
        <h4 id="supply-cost" class="details">+$<%= supply_price %></h4>
        <h4 id="confirmation-total">Total:</h4>
        <h4 id="confirmation-amount"></h4>
      </div>
    </div>

    <div class="confirmation">
      <h2 class="confirmation-header">Home Info</h2>
      <h3 id="confirmation-address"></h3>
      <h3 id="confirmation-city-state-zip"></h3>

      <h3 id="confirmation-bedrooms"></h3>
      <h3 id="confirmation-bathrooms"></h3>


      <h3 id="confirmation-extras"></h3>
    </div>

    <div class="confirmation">
      <h2 class="confirmation-header">Your Info</h2>
      <h3 id="confirmation-name"  class="confirmation-contact-info"></h3>
      <h3 id="confirmation-email" class="confirmation-contact-info"></h3>
      <h3 id="confirmation-phone" class="confirmation-contact-info"></h3>
    </div>
  </div>



    <%= f.submit "Book cleaning", :class => "btn next-step btn-block", :id => "finalize-booking-button" %>
  </div>