<div class="progress-bar" style="margin-left:0px;">
    <p class="progress-bar-item" id="progress-bar-item-one">1</p>
    <p class="progress-bar-item" id="progress-bar-item-two">2</p>
    <p class="progress-bar-item" id="progress-bar-item-three">3</p>
    <p class="progress-bar-item" id="progress-bar-item-four">4</p>
    <p class="progress-bar-item" id="progress-bar-item-five">5</p>
</div>

<div></div>

<hr>