<div id="schedule-time" style="display:none;">
    <div class="header">
      <h1>Schedule a time</h1>
    </div>

      <div id="datepicker"></div>

      <%= link_to "Next", '#payment-info', :id => "schedule-time-complete", :class => "btn next-step btn-block" %>
</div>