<div class="container">
  <div class="row" style="">
    <div class="span3"></div>
    <div class="span6 bordered" style="width:460px;">
          <%= render 'form' %>
    </div>

    <div class="span3">

    </div>
    
    <%= render 'credit_cards' %>
  
  </div>
  <p style="text-align:center; font-size: 12px; font-weight: lighter; margin-top:5px;">Every Home a Haven</p>
</div>