
   <!-- Start Billboard -->

    <div class="billboard">
    <div class="container">
    <div class="row">
    <div class="span6">


   <h1 style="font-weight:400;">Enjoy a clean home</h1>
           <br>
           <ul>
            <li>Easy online scheduling</li>
            <li>100% Happiness Guaranteed</li>
            <li>Every cleaner is bonded and insured</li>
           </ul>
                  <br>
            <div class="btn-toolbar">
      <!-- <button onclick="location.href='http://www.apple.com';" class="btn btn-large btn-head-1"> <i style="padding-right:0px; padding-top:0px;"></i>Book a cleaning</button> -->

      <%= button_to "Book a cleaning", new_booking_path, :class => "btn btn-large btn-head-1", :method => :get %>

      <!-- <button class="btn btn-large"><i style="padding-right:15px; padding-top:5px;" class="icon-star-empty"></i>More about us here</button> -->
       </div>

        <br>

      </div>

<div class="span5"><div class="fancy_placeholder"><img class="shuffle" src="assets/cleaning.jpg" alt="">  </div>
</div>
</div>
</div>
</div>

   <!-- End Billboard -->



     <!-- Start Main Content -->


<div class="sec_2">
<div class="container">
<div class="row">
<div class="span6">
<ul class="thumbnails">

<li class="span2">
<div class="fancycaption fancycaption-fade">
<img class="fade" width="150px" src="assets/clean-house-1.jpg" alt="">
</div>
</li>

 <li class="span2">
 <div class="fancycaption fancycaption-fade">
 <img class="fade" width="150px" src="assets/clean-house-6.jpg" alt="">
 </div>
 </li>

 <li class="span2">
 <div class="fancycaption fancycaption-fade">
 <img class="fade" width="150px" src="assets/clean-house-3.jpg" alt="">
 </div>
 </li>
 </ul></div>
 <div class="span6">
 <h1>Satisfaction Guaranteed</h1>
 <br>
 <p>If you're not happy with how your place looks when we're done, we'll come back and clean again for free.</p>
</div>
</div>
</div>
</div>

<div class="billboard">
<div class="container">
<div class="row">
<div class="span4 text-cent">
<div class="icon-helper">
<i class="icon-th-large icon-large"></i>
</div>
<h2>Includes 4 HTML Pages</h2>
<p>dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum </p>
</div>
<div class="span4 text-cent">
<div class="icon-helper">
<i class="icon-asterisk icon-large"></i>
</div>
<h2>Clean Typography</h2>
<p>dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum </p>
</div>
<div class="span4 text-cent">
<div class="icon-helper">
<i class="icon-cogs icon-large"></i>
</div>
<h2>Easy to Customize</h2>
<p>dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum </p>
</div>
</div>
</div>
</div>



   <!-- End Main Content -->


     