
   <!-- Start Billboard -->

    <div class="billboard">
    <div class="container" style="width:85%">
    <div class="row" style="width:1176px;">
    <div class="span6">

   <h1 class="front-page">Enjoy a clean home</h1>
           <br>
           <ul>
            <li>Easy online scheduling</li>
            <li>$30/hour</li>
            <li>Every cleaner background checked</li>
            <li>100% Happiness Guaranteed</li>
           </ul>
                  <br>
            <div class="btn-toolbar">


      <%= button_to "Book a cleaning", new_booking_path, :class => "btn btn-large btn-head-1", :method => :get, :style => "float:right; margin-top:20px; font-size:30px;"  %>

       </div>

        <br>

      </div>

<div class="span6" style="float:right;">
  <div class="fancy_placeholder" style="float:right;">
    <img class="shuffle" src="assets/cleaning.jpg" style="float:right;">  
  </div>
</div>
</div>
</div>
</div>

   <!-- End Billboard -->



     <!-- Start Main Content -->


<div class="sec_2">
<div class="container" style="margin-right: 0x; margin-left: 0px">
<div class="row" style="width:1176px; margin: 0px 100px;">
<div class="span6" style="margin-left:0px;">
<ul class="thumbnails" style="width:275%">

<li class="span5">
<div class="fancycaption fancycaption-fade">
<img width="350px" src="assets/clean-house-1.jpg" alt="">
</div>
</li>

 <li class="span5">
 <div class="fancycaption fancycaption-fade">
 <img width="350px" src="assets/clean-house-6.jpg" alt="">
 </div>
 </li>

 <li class="span5">
 <div class="fancycaption fancycaption-fade">
 <img width="350px" src="assets/clean-house-3.jpg" alt="">
 </div>
 </li>
 </ul></div>
 <div class="span6">
 <h1>Satisfaction Guaranteed</h1>
 <br>
 <p>If you're not happy with how your place looks when we're done, we'll come back and clean again for free.</p>
</div>
</div>
</div>
</div>

<div class="billboard">
<div class="container">
<div class="row">
<div class="span4 text-cent">
<div class="icon-helper">
<i class="icon-th-large icon-large"></i>
</div>
<h2>Includes 4 HTML Pages</h2>
<p>dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum </p>
</div>
<div class="span4 text-cent">
<div class="icon-helper">
<i class="icon-asterisk icon-large"></i>
</div>
<h2>Clean Typography</h2>
<p>dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum </p>
</div>
<div class="span4 text-cent">
<div class="icon-helper">
<i class="icon-cogs icon-large"></i>
</div>
<h2>Easy to Customize</h2>
<p>dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum </p>
</div>
</div>
</div>
</div>
   <!-- End Main Content -->

<%= render "layouts/footer_images" %>

     