<p>Dear fellow renters and home owners,</p>

<p>I grew up with a lot of brothers and sisters. Our house was a noisy place and rarely did we sit down as an entire family of 8 for a full meal. Between science projects and swimming practice life could get a little crazy.</p>

<p><strong>I bet you know that overwhelming, when-will-life-slow-down feeling.</strong></p>

<p>In the middle of the chaos, my mom had a saying to remind us of what was important, and where we could always go to recharge. She said:</p>

<p><strong>Our home is a haven.</strong></p>

<p>&#8220;<em>When life gets rough or if you have a bad day, you can always come back to a safe, clean home. You can rest and recalibrate here, away from the demands and hurry of the rest of the world. Our home is a haven</em>.&#8221;</p>

<p>And she tried hard to live up to that ideal.</p>

<p>*Pause*</p>

<p><strong>But that&#8217;s really hard to do.</strong></p>

<p>How do you find the time to make sure your entire home is swept, trashes emptied, blinds dusted, carpets vaccumed, dishes cleaned/dried/put away, fans dusted, toilet scrubbed, bathtub scrubbed, mirrors wiped down, and the list goes on&#8230; </p>

<p><strong>There isn&#8217;t enough time in the day.</strong></p>

<p>So we&#8217;re here to help.</p>

<p>At EverHaven, our mission is <strong><em>Every Home a Haven</em></strong>. </p>

<p>We&#8217;ll mop that sticky kitchen floor so your toddler can crawl in peace. We dust those high ceiling fans that haven&#8217;t been touched in years.</p>

<p>And we love defeating a dirty toilet.</p>

<p><strong>Our promise to you:</strong><br><br>
&#x2713; You&#8217;ll know what you&#8217;re paying for up front. No surprises or upsells.<br>
&#x2713; We provide all cleaning supplies, on the house<br>
&#x2713; All our certified cleaners are background checked, bonded, and insured<br>
&#x2713; If you don&#8217;t love your place when we&#8217;re done we&#8217;ll come back and clean again for free</p>

<p>Thank you for reading this. We&#8217;re excited to help turn your home into a haven.</p>

<%= render 'signature' %>