
<div class="billboard about-us">
  <div class="container about-us">
    <div class="row about-us">
      <div class="span1"></div>
      
      <div class="span8">
        <article style="margin-top:40px;">
          <%= render 'about_us_text' %>
        </article>
      </div>

      <div class="span1"></div>
    </div>
    
</div>
</div>


<%= render 'layouts/footer' %>

   <!-- End Main Content -->