
<div class="about-us letter">
  <div class="container about-us" style="width: 600px;">
    <div class="row about-us">
      <div class="span1"></div>
      
      <div class="span8" id="about-us-body">
        <article style="margin: 0 auto; width: 85%; margin-top:40px;">
          <%= render 'about_us_text' %>
        </article>
      </div>

      <div class="span1"></div>
    </div>
    
</div>
</div>


<%= render 'layouts/footer' %>

   <!-- End Main Content -->