

[class*="span"].bordered {
  border-style:solid;
  border-width:1px;
  padding: 5px 150px;
  background-color: #F8F8FF;
  margin-top: 15px;
}

.house-details {
  border-style:solid;
  border-width:1px;
  padding: 5px;
  background-color: #F8F8FF;
  margin-top: 15px;
}

.house-details .room-header {
  float:left;
  font-size: 25px;
}

.house-extras {
  border-style:solid;
  border-width:1px;
  padding: 5px;
  background-color: #F8F8FF;
  margin-top: 15px;
}

.house-buttons {
  text-align: right;
}

a.btn {
  padding: 15px;
  font-size: 25px;
  color: white;
  &:visited {
    color: white;
  }
}

#house-extras {
  padding: 10px;
}

#house-extras .house-buttons .btn-group {
  padding: 5px;
}

#the_city input[type="text"] {
  width: 86px;
}

#the_state input[type="text"] {
  width: 40px;
}

#zipcode {
  width: 55px;
}

.row .address [id="the_city"] {
  margin-right: 20px;
}

.row .address [id="state"] {

}

.row .address [id="the_zipcode"] {

}




