

[class*="span"].bordered {
  border-style:solid;
  border-width:1px;
  background-color: #F8F8FF;
  margin: 0 auto;
  width: 50%;
  border-radius: 5px;
  box-shadow: 5px 5px 25px #888888;
  margin-top: 10px;
  padding: 0px 10px;
}

.house-details {
  border-style:solid;
  border-width:1px;
  border-radius:5px;
  border-color: #b6b6b6;
  padding: 5px;
  background-color: #F8F8FF;
  margin-top: 15px;
  background-color: #e4e4e4;
}

.house-details .header {
  float:left;
  font-size: 25px;
}

.date_selector {
  margin-top: 5px;
}

.header h4 {
  font-weight: lighter;
  line-height: 10px;  
  padding-left: 10px;
}

#card_year {
  margin-top: 5px;
}

.expiration_date h4 {
  line-height: 45px;
}

.extras h4 {
  line-height: 60px;
}

.cleaning_address h4 {
  line-height: 75px;
}

.header h1 {
  font-weight: lighter;
  text-align: center;
}

.header h5 {
  font-weight: 500;
  text-align: center;
}

.hours {
  text-align: right;
}

.house-extras {
  border-style:solid;
  border-width:1px;
  padding: 5px;
  background-color: #F8F8FF;
  margin-top: 15px;
}

.form-group-field {
  text-align: right;
}

.interior {
  margin-top: 5px;
}

.address_field {
  margin-top: 5px;
}

#cleaning_address {
  line-height: 30px;
}


#the_state {
  float: right;
}

a.btn {
  padding: 15px;
  font-size: 25px;
  color: white;
  margin-top: 15px;
  &:visited {
    color: white;
  }
}

.btn-number {
  width: 60px;
}

#house-extras {
  padding: 10px;
}

#house-extras .form-group-field .btn-group {
  padding: 5px;
}

#the_city input[type="text"] {
  width: 86px;
}

#the_state input[type="text"] {
  width: 40px;
}

#zipcode {
  width: 55px;
}

#booking_hours {
  margin-left: 15px;
  width: 100px;
}

.row .address [id="the_city"] {
  margin-right: 20px;
}

.row .address [id="state"] {

}

.row .address [id="the_zipcode"] {

}

#street_address {
  width: 270px;
}

#finalize-booking-button {
    padding: 15px;
    font-size: 25px;
}
