.fc-day-number {
  text-align: center;
  font-size: 18px;
  padding: 0px;
  padding-top: 17px;
}

.fc-grid .fc-day-number {
  float:none;
  padding: 0px;
}

.fc-header-title h2 {
  font-size: 23px;
  font-weight: lighter;
}

.hover {
  background-color: red;
}

.active {
  background-color: #8eee00;
}

.header-middle {
  font-family: 'Open Sans', sans-serif;
  float: left;
  display: block;
  padding: 15px 20px 12px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: white;
}



.next-step.btn {
  pointer-events: none;
  background-image: linear-gradient(to bottom,#ccfdbc,#9cdc85);
  border-color: #ccfdbc;
}

.progress-bar-item {
  float: left;
  margin-left: 40px;
  margin-right: 40px;
}

.progress-bar-item-active {
  color: #0079ff;
}

.progress-bar {
  height: 20px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-top: 15px;
}

.progress-bar p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.span6.bordered.dashboard {
  width: 100%;
  margin: auto 0;
  margin-bottom: 10px;
  margin-top:10px;
}

.card-assurance {
  display:block; 
  margin-top:70px; 
  text-align:right;
}

.container .front-page {
  width:85;

}

.billboard h1 {
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1;
  font-weight:400;
  letter-spacing: -1px;
  color: #666666;
  width: 150%;
}

.billboard li {
  font-size: 20px;
  line-height: 33px;
}

ul {
    list-style-type: none;
    margin-top: 20px;
}

[class*="span"].bordered {
  border-color: #ededed;
  border-style:solid;
  border-width:2px;
  background-color: #F8F8FF;
  margin: 0 auto;
  width: 50%;
  border-radius: 5px;
  /*box-shadow: 5px 5px 25px #888888;*/
  margin-top: 10px;
  padding: 0px 10px;
}

.house-details {
  border-style:solid;
  border-width:1px;
  border-radius:5px;
  border-color: #b6b6b6;
  padding: 5px;
  background-color: #F8F8FF;
  margin-top: 15px;
  background-color: #e4e4e4;
}

.sign-in-form-details {
  border-style:solid;
  border-width:1px;
  border-radius:5px;
  border-color: #b6b6b6;
  background-color: #F8F8FF;
  margin-top: 15px;
  background-color: #e4e4e4;
  width: 100%;
}

.new-password {
  margin-bottom: 20px;
}

/*begin datepicker styling*/

.ui-datepicker-prev {
  background-color: green;
}

.ui-datepicker-next {
  background-color: green;
}

.ui-datepicker-title {
  background-color: green;
}

/*end datepicker styling*/

.confirmation {
  border-style:solid;
  border-width:1px;
  border-radius:5px;
  border-color: #b6b6b6;
  padding: 5px;
  margin-top: 15px;
  background-color: #e4e4e4;
}

.sign-in-field {
  width: 100%;
  margin: 0 auto;
}

.btn-sign-in {
  margin-top: 10px;
}

#recommended_hours_label {
  font-weight: lighter;
}

#sign-in-fields-container {
  padding-left: 5px;
  width: 98%;
}

#sign-in-form-container {
  width: 300px;
}

.user_email_signin {
  width: 276px;
}

.confirmation-header {
  border-style:solid;
  border-width:1px;
  border-radius:5px;
  border-color: #b6b6b6;
  padding: 1px;
  margin-top: 0px;
  background-color: #fafafa;
  text-align: center;
}

.house-details .header {
  float:left;
  font-size: 25px;
}

.date_selector {
  margin-top: 5px;
}

.header h4 {
  font-weight: lighter;
  line-height: 10px;  
  padding-left: 10px;
}

.confirmation h2 {
  font-weight: lighter;
  font-size: 20px;
}

#confirmation-time {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
}

#confirmation-address {
  text-align: center;
  margin-bottom: 5px;
  height: 25px;
  margin-top: 30;
}

.address-confirmation {
  font-size: 16px;
  font-weight: lighter;
}

#confirmation-bedrooms {
  float:left;
  margin-top: 0;
}

#confirmation-bathrooms {
  text-align: right;
}

.house-confirmation {
  margin: 0 auto;
  width: 70%;
}

.house-confirmation h3 {
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.room-confirmation {
  margin-bottom: 0;
}

#confirmation-city-state-zip {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

#confirmation-extras {
  font-size: 18px;
  text-align: center;
  font-weight: lighter;
  margin: 0;
  height: 30px;
}

.confirmation-contact-info {
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 10px;
  height: 25px;
}

#confirmation-name {
  font-size: 24px;
}

.confirmations-details {
  margin-bottom: 10px;
}

.time-container {
  width: 70%;
  margin: 0 auto;
}

.address-container {
  width: 70%;
  margin: 0 auto;
}

#confirmation-hours {
  font-weight: lighter;
  float:left;
  margin: 0px;
  margin-bottom: 10px;
}

#confirmation-supplies {
  font-weight: lighter;
  float:left;
  margin-top: 0px;
  margin-bottom: 10px;
}

#confirmation-total {
  float:left;
  margin-top: 0px;
}

#confirmation-amount {
  text-align: right;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#extras-header {
  text-align: center;
  font-size: 22px;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 0px;
}



.details {
  font-weight: lighter;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#card_year {
  margin-top: 5px;
}

.expiration_date h4 {
  line-height: 45px;
}

.extras h4 {
  line-height: 60px;
}

.cleaning_address h4 {
  line-height: 75px;
}

.header h1 {
  font-weight: lighter;
  text-align: center;
}

.header h5 {
  font-weight: 500;
  text-align: center;
}

.house-extras {
  border-style:solid;
  border-width:1px;
  padding: 5px;
  background-color: #F8F8FF;
  margin-top: 15px;
}

.form-group-field {
  text-align: right;
}

.interior {
  margin-top: 5px;
}

.address_field {
  margin-top: 5px;
}

#cleaning_address {
  line-height: 30px;
}


#the_state {
  float: right;
}

a.btn {
  padding: 15px;
  font-size: 25px;
  color: white;
  margin-top: 15px;
  &:visited {
    color: white;
  }
}

.btn-number {
  width: 60px;
}

#house-extras {
  padding: 10px;
}

#house-extras .form-group-field .btn-group {
  padding: 5px;
}

#the_city input[type="text"] {
  width: 86px;
}

#the_state input[type="text"] {
  width: 40px;
}

#zipcode {
  width: 55px;
}

#booking_hours {
  margin-left: 15px;
  width: 100px;
}

#hour-dropdown {
  height: 50px;
}

.row .address [id="the_city"] {
  margin-right: 20px;
}

/*.row .address [id="state"] {

}

.row .address [id="the_zipcode"] {

}*/

#street_address {
  width: 270px;
}

#finalize-booking-button {
    padding: 15px;
    font-size: 25px;
}