<div class="container">
<hr>
      <!-- Example row of columns -->
      <div class="row">

         <div class="span3">
            <ul class="thumbnails">
              <li class="span3">
                <%= image_tag "clean-house-5.jpg", :class => "thumbnail" %>
              </li>
            </ul>

        </div>
        
        <div class="span3">
          <ul class="thumbnails">
            <li class="span3">
              <%= image_tag "clean-house-2.jpg", :class => "thumbnail" %>
            </li>
          </ul>
        </div>
        
        <div class="span3">
          <ul class="thumbnails">
            <li class="span3">
              <%= image_tag "clean-house-7.jpg", :class => "thumbnail" %>
            </li>
          </ul>
        </div>
        
        <div class="span3">
          <ul class="thumbnails">
            <li class="span3">
              <%= image_tag "clean-house-4.jpg", :class => "thumbnail" %>
            </li>
          </ul>
        </div> 
    
    </div>
  <hr>
</div>