<!-- Start Footer -->

  <div id="footer">
    <div class="f-left">
      &copy; EverHaven - Every Home a Haven
    </div>
    <div class="f-right">
      <%= happy_day %>
    </div>
  </div>

<!-- End Footer -->