<div id="bottom-4">
    <ul>
      <li><%= image_tag "clean-house-5.jpg" %></li>
      <li><%= image_tag "clean-house-2.jpg" %></li>
      <li><%= image_tag "clean-house-7.jpg" %></li>
      <li><%= image_tag "clean-house-4.jpg" %></li>
    </ul>
</div>