<!-- Start Footer -->

   <div id="footer">
   <div class="container">
   <div class="row">
   <div class="span6">  <p style="padding-top:15px;">&copy; 2012 Mint&egrave;h -  Fresh Landing Page &#8226; a Theme by <strong>themestrap</strong></p></div>

    <div class="span6">  <div style="padding:10px; float:right;" class="btn-group">
  <button class="btn"><i  class="icon-facebook-sign"></i></button>
<button class="btn"><i  class="icon-twitter-sign"></i></button> </div></div>

</div>
</div>
</div>


<!-- End Footer -->
     
   <script type="text/javascript">
$(document).ready(function(){
  $(".fancycaption-fade").fancyCaption({slideTopBar:false, slideBottomBar:false, slideLeftBar:false, slideRightBar:false });
});
</script>