<!-- Start Footer -->

   <div id="footer">
    <div class="container">
      <div class="row">
   
        <div class="span6">  
            <p style="padding-top:15px;">&copy; 2014 Refresh</p>
        </div>

        <div class="span6">  
          <p style="padding-top:15px; float:right;">
            <%= happy_day %>
          </p>
        </div>

      </div>
    </div>
  </div>

<!-- End Footer -->
     
   <script type="text/javascript">
$(document).ready(function(){
  $(".fancycaption-fade").fancyCaption({slideTopBar:false, slideBottomBar:false, slideLeftBar:false, slideRightBar:false });
});
</script>